{% extends "base.html "%}

{% block title %}{% endblock %}

{% block content %}
    <h1>ログイン</h1>
    {% if form.errors %}
        <p>
            ユーザー名とパスワードが一致していません。
            もう一度、入力してください
        </p>
    {% else %}
        <p>フォームに入力してください</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name='next' value="{{ next }}">
            <p><input type="submit" value="Log-in"></p>
        </form>
        <p><a href="{% url 'password_reset' %}">パスワードを忘れましたか？</a></p>
    </div>
{% endblock %}